<template>
	<form>
		<input v-model='itemText' @keyup.enter='pushItem' type="text" placeholder="введите извинение">
		<button @click='pushItem'>Извиниться</button>
	</form>
</template>

<script>
import { mapMutations } from 'vuex'
export default{
	name: 'TodoForm',
	data() {
		return{
			itemText: '',
		}
	},
	methods: {
		...mapMutations(['addItem']),
		pushItem() {
			if(this.itemText !== '') {
				this.addItem({txt: this.itemText, checked: false, id: Date.now()}),
				this.itemText = '';
			}
		}
	}
}

</script>

<style lang="css" scoped>
	form{
		margin: 15px 0;
	}
	input{
		height: 35px;
		width: 100%;
		border-radius: 7px;
		border: 0.5px solid;
		padding: 0 10px;
		font-size: 17px;
		outline: none;
	}
	button{
		width: 100%;
		font-size: 20px;
		border: none;
		outline: none;
		padding: 5px;
		background: black;
		color: white;
		margin-top: 5px;
		border-radius: 7px;
		cursor: pointer;
	}
</style>