<template>
	<div>
		<img src="../media/logo.png">
		<h1>Список извинении</h1>
		<span @click='tsk'>Попросили извинения {{ succes }} из {{ count }}</span>
	</div>
</template>

<script>
import {mapGetters} from 'vuex';
export default {
	name: 'TodoHeader',
	computed: {
		...mapGetters(['count', 'succes', 'chuk'])
	},
	methods:{
		tsk(){
			console.log(this.chuk)
		}
	}
}
</script>

<style lang="css" scoped>
	div{
		margin: 0 auto;
	}
	img{
		margin-top: 15px;
		width:200px;
	}
	h1{
		margin: 12px 0;
		font-size: 40px;
	}
</style>