<template>
	
	<ul class="main">
		<li v-for='post in posts' :key='post.id' :class='{cheked: post.cheked}' @dblclick='post.cheked ? null : startEditing(post)'>
			<div v-if='post.id !== newObj.id' class="text">{{ post.txt }}</div>
			<input v-else type="text" v-model='newObj.txt' class="changeInput">
			<div v-if='post.id !== newObj.id' class="buttons">
				<button @click='itemSucces(post.id)'>Простить</button>
				<button @click='removeItem(post.id)'>Убить шайтана</button>
				
			</div>
			<div v-else class="buttons change">
				<button @click='cancel'>Отменить</button>
				<button @click='save'>Сохранить изменения</button>
			</div>
		</li>
	</ul>
	
</template>

<script>
import { mapGetters, mapMutations } from 'vuex';
export default{
	name: 'TodoLtem',
	data() {
		return{
			newObj: {},
		}
	},
	methods: {
		...mapMutations(['chekedItem', 'deleteItem', 'updateItem']),
		itemSucces(id) {
			this.chekedItem(id);
		},
		removeItem(id) {
			this.deleteItem(id);
		},
		startEditing(obj) {
			this.newObj = obj;
		},
		cancel() {
			this.newObj = {};
		},
		save() {
			this.updateItem(this.newObj);
			this.cancel();
		},

	},
	computed: {
		...mapGetters(['posts']),	
		
	},
}
</script>

<style lang="css" scoped>
	.main{
	}
	ul{
		width: 100%;
	}
	li{
		list-style-type: none;
		margin-top: 15px;
		text-align: left;
	}
	.text{
		display: flex;
		align-items: center;
		height: 30px;
		font-size: 17px;
		cursor: default;
	}
	.changeInput{
		border: none;
		outline: none;
		width: 100%;
		height: 30px;
		font-size: 17px;
	}
	.buttons{
		display: grid;
		grid-template-columns: 1fr 1fr;
		height: 30px;
		gap: 5px;
	}
	button{
		width: 100%;
		height: 100%;
		border-radius: 7px;
		border: none;
		background: #c5c5c5;
;
	}
	.buttons change{
		width: 100%;
		color: white;
		font-weight: bold;
		background: black;
	}
	.cheked{
		opacity: 0.4;
	}
</style>