<template>
  <section id="app">
    <Todo-Header></Todo-Header>
    <Todo-Form></Todo-Form>
    <Todo-List></Todo-List>
  </section>
</template>

<script>
import TodoHeader from './components/TodoHeader.vue'
import TodoForm from './components/TodoForm.vue'
import TodoList from './components/TodoList.vue'

export default {
  name: 'App',
  components: {
    TodoForm,
    TodoHeader,
    TodoList
  }
}
</script>

<style>
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Groznij;

  }
  body{
    background: grey;
  }
  section{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    background: white;  
    padding: 15px 15px;
  }
  @font-face{
    font-family: Groznij;
    src: url('media/Москва.ttf')
}
</style>
